# Terraform files
**/.terraform/*
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.terraformrc
terraform.rc
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python / Pytest
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
dist/
build/
*.egg-info/

# Crash log files
crash.log

# Lambda build artifacts
builds/
__pycache__/
*.zip
.tox

# Editors files
.DS_Store
.idea
Thumbs.db
